@import "./*"

.collectives-index-container
  section.collectives
    margin-top: 20px
    background-color: white
    border-radius: 4px
    padding: 0

  ul.collectives-list
    list-style: none
    padding-left: 0
    margin: 0
    padding: 20px 0
  .collective-item
    overflow: hidden
    border-bottom: 1px solid #eee
    margin: 15px 20px
    padding-bottom: 15px
    &:first-child
      margin-top: 0
      padding-top: 0
    &:last-child
      border-bottom: none
      padding-bottom: 0
      margin-bottom: 0
    .hd
      float: left
      margin-right: 15px
      .avatar
        @include border-radius(5px)
    .bd
      overflow: hidden
      .title
        font-size: 20px
        margin-top: 5px
      .summary
        font-size: 16px
        margin-top: 15px
        color: #999
      .author
        color: #999
      .created-at
        color: #999
      abbr
        border-bottom: none
  .pagination-wrapper
    margin-top: 20px

.collectives-new-container
  .inner-container
    padding: 20px
