.collectives-index-container
  = link_to "新建", new_collective_path, class: 'button button-highlight'
  - if user_signed_in?
    = link_to "我的文摘", collectives_user_path(current_user.id), class: 'button button-highlight'
