.create-link-form
  .thumbs
    overflow: hidden
  .thumb
    margin-bottom: 20px
    position: relative
    cursor: pointer
  .selected:after
    position: absolute
    content: '已选中'
    top: 0
    left: 0
    padding: 0 5px
    background: green
    color: white
.edit-link-form
  .link-cover
    margin-bottom: 20px
    img
      max-width: 100%
.collectives-panel-table
  width: 100%
  table-layout: fixed
  th.link-cover-wrapper
    width: 70px
  th.actions
    width: 180px
  td
    text-overflow: ellipsis
    overflow: hidden
