.collectives-index-container
  .main-title
    h1
      font-size: 20px
      padding: 0.5em
  ul.collectives-list
    list-style: none
    padding-left: 0

.collectives-show-container
  .collective-content
    width: 860px
    margin: 0 auto

  .node
    margin-bottom: 20px
    h3
      color: #999
      padding-left: 12px
      margin-top: 20px
      font-size: 16px

  .links-list
    border-top: 2px solid rgba(#0099cc, 0.8)
    background: white
    font-size: 18px
  .link-item
    height: 48px
    line-height: 48px
    border-bottom: 1px solid #ececec
  .link-title
    color: #212121
    margin-left: 20px
    &:hover
      color: gray

.collectives-edit-container
  .node
    position: relative
    .nodes-panel
      z-index: 100
      position: absolute
      top: 0
      left: 300px
      .title
        background: #5F9EDF
        text-align: center
        padding: 10px
        margin: 0
      ul
        margin: 0
      li.sorted
        opacity: 0.8
        background: #F4E2C9
      li
        background: white
        padding: 10px 40px
